<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093676459798-fm6nhtcs2dv87f3l8jg5teqnuck69dat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093676459798-fm6nhtcs2dv87f3l8jg5teqnuck69dat</string>
	<key>API_KEY</key>
	<string>AIzaSyCWWk0JdzfidVLkGHFwFL-R9-znbYLp7W0</string>
	<key>GCM_SENDER_ID</key>
	<string>1093676459798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andreiShkundaliou.VK</string>
	<key>PROJECT_ID</key>
	<string>vkclone-3c966</string>
	<key>STORAGE_BUCKET</key>
	<string>vkclone-3c966.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093676459798:ios:121be810502074c41b9237</string>
</dict>
</plist>